.task {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;
  cursor: move;
}

.task_is-dragging {
  opacity: 0;
}

.task__item {
  box-sizing: border-box;
  padding: 10px 75px 10px 20px;
  width: 100%;
  border-radius: 30px;
  box-shadow: 5px 5px 5px #abb1c1;
}

.task__item_is-done {
  box-shadow: inset 3px 3px 5px #abb1c1;
}

.task__text {
  margin: 0;
  font-family: 'Nunito', 'Arial', sans-serif;
  font-weight: 300;
  color: #000;
  overflow-wrap: break-word;
}

.task__text_crossed {
  color: #abb1c1;
  text-decoration: line-through ;
}

.task__text_heading {
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 22px;
}

.task__text_description {
  font-size: 14px;
  line-height: 16px;
}

.task__button {
  all: unset;
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  transition: background-image .2s;
  transform: translateY(-50%);
  cursor: pointer;
}

.task__button_type_edit {
  right: 45px;
  background: url(../../images/edit-icon-black.svg) center center / 130% no-repeat;
}

.task__button_type_edit:hover {
  background: url(../../images/edit-icon-green.svg) center center / 130% no-repeat;
}

.task__button_type_delete {
  right: 10px;
  background: url(../../images/cross-black.svg) center center no-repeat;
}

.task__button_type_delete:hover {
  background: url(../../images/cross-green.svg) center center no-repeat;
}
